.active-page {
    border-left: #fff 8px solid;
    border-padding: 10px;
}

/* SUBMENY SUPPORT */
.navbar-default
.navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: #191e28;
}

.navbar-default
.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: #191e28;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 10px;
}

.dropdown-menu {
    top: 90px;
    background-color: #333;
}

.dropdown-menu>li>a {
    color: #A3A1A1;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
.dropdown-menu>li>a:hover {
    background-color: #333;
}
.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
    float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


/* breadcrumb */
.breadcrumb {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1020;
    display: block;
    top: 90px;
    font-size: 14px;
    height: 21px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 100px;
    color: #bca474;
    border:1px solid #e3e3e3;
    border-radius: 4px;
}

.navbar-header .navbar-brand {
    color: #fff;
    font-size: 20px;
}

/* top navbar height */
.navbar-container {
    height: 90px;
}

.navbar {
    background: #191e28

}

.navbar-nav>li>a {
    padding-top: 30px;
    font-size: 20px;
}


.navbar-right>li>a {
    font-size: 12px;
}

.container {
    /* margin-top: 30px */
}

pre code {
}


pre {
    background-color: #f2f2f2;
    border: 1px solid #e8ebf1;
    border-radius: 1px;
}

a {
    color: #bca474;
}

a:hover {
    color: #9A855A;
}

th {
    background: #e8ebf1;
    color: #666;
}

.table td{
    border-left: 1px solid #e8ebf1;
    border-right: 1px solid #e8ebf1;
    border-bottom: 1px solid #e8ebf1;
}

h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 100;
}

h2 {
    font-size: 25px;
    line-height: 28px;
    font-weight: 100;
}

h3 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 100;
}

body {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

/* permalink smaller */
.headerlink {
    font-size: 15px;
}

/* TOC Indendation */
.level1 {
    padding-left: 10px;
    font-size: 116%
}

.level2 {
    padding-left: 15px;
    font-size: 112%
}

.level3 {
    padding-left: 20px;
    font-size: 108%
}

.level4 {
    padding-left: 25px;
    font-size: 104%
}

.level5 {
    padding-left: 30px;
    font-size: 100%
}

/* Fix the side menu scroll bug */

.bs-sidebar {
      overflow-y: auto;
      max-height: 80%;
      padding: 0;
}

/* ADMINITION DEMO */

.admonition.demo {
    background: #ddd;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.admonition.demo p.admonition-title {
    background: #ccc;
    font-weight: bold;
    display: block;
    color: #fff;
    margin: -12px;
    padding: 6px 30px;
    margin-bottom: 12px;
    font-family: inherit;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
}

.admonition.demo p.admonition-title::before {
    content: "\f0ed";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    left: 5px;
}

/* ADMONITION INFO */

.admonition.info {
    background: #D4EFB3;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.admonition.info p.admonition-title {
    background: #78be20;
    font-weight: bold;
    display: block;
    color: #fff;
    margin: -12px;
    padding: 6px 30px;
    margin-bottom: 12px;
    font-family: inherit;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
}

.admonition.info p.admonition-title::before {
    content: "\f05a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    left: 5px;
}

/* ADMONITION WARNING */

.admonition.warning {
    background: #ffedcc;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.admonition.warning p.admonition-title {
    background: #bca474;
    font-weight: bold;
    display: block;
    color: #fff;
    margin: -12px;
    padding: 6px 30px;
    margin-bottom: 12px;
    font-family: inherit;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
}

.admonition.warning p.admonition-title::before {
    content: "\f06a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    left: 5px;
}

/* ADMINITION DNAGER */

.admonition.danger {
    background: #fdf3f2;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.admonition.danger p.admonition-title {
    background: #f29f97;
    font-weight: bold;
    display: block;
    color: #fff;
    margin: -12px;
    padding: 6px 30px;
    margin-bottom: 12px;
    font-family: inherit;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
}

.admonition.danger p.admonition-title::before {
    content: "\f071";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    left: 5px;
}
