<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>Introduction - Snom io Knowledge base</title>

        <link href="../../css/bootstrap-3.0.3.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">
        <link href="../../css/base.css" rel="stylesheet">
        <link href="../../extra.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="../..">Snom io Knowledge base</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            
            
                <li >
                    <a href="../..">Home</a>
                </li>
            
            
            
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">XML Minibrowser <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
                            
<li >
    <a href="../">Introduction</a>
</li>

                        
                        <!-- ORIG
                        <li >
                            <a href="../">Introduction</a>
                        </li>
                        -->
                    
                        
                            
    <li class="dropdown-submenu">
    <a>Main tags</a>
    <ul class="dropdown-menu">
        
            
                
<li >
    <a href="../main_tags/SnomIPPhoneMenu/">SnomIPPhoneMenu</a>
</li>

            
        
            
                
<li >
    <a href="../main_tags/SnomIPPhoneDirectory/">SnomIPPhoneDirectory</a>
</li>

            
        
            
                
<li >
    <a href="../main_tags/SnomIPPhoneText/">SnomIPPhoneText</a>
</li>

            
        
            
                
<li >
    <a href="../main_tags/SnomIPPhoneImage/">SnomIPPhoneImage</a>
</li>

            
        
            
                
<li >
    <a href="../main_tags/SnomIPPhoneImageFile/">SnomIPPhoneImageFile</a>
</li>

            
        
            
                
<li >
    <a href="../main_tags/SnomIPPhoneInput/">SnomIPPhoneInput</a>
</li>

            
        
            
                
<li >
    <a href="../main_tags/SnomIPPhoneBatch/">SnomIPPhoneBatch</a>
</li>

            
        
            
                
<li >
    <a href="../main_tags/main_sub_tags/">Main Sub Tags</a>
</li>

            
        
            
                
<li >
    <a href="../main_tags/MainAttributes/">Main Attributes</a>
</li>

            
        
    </ul>
  </li>

                        
                        <!-- ORIG
                        <li >
                            <a href="">Main tags</a>
                        </li>
                        -->
                    
                        
                            
    <li class="dropdown-submenu">
    <a>Callbacks</a>
    <ul class="dropdown-menu">
        
            
                
<li >
    <a href="../callbacks/">Introduction</a>
</li>

            
        
            
        
    </ul>
  </li>

                        
                        <!-- ORIG
                        <li >
                            <a href="">Callbacks</a>
                        </li>
                        -->
                    
                        
                            
    <li class="dropdown-submenu">
    <a>Fragments</a>
    <ul class="dropdown-menu">
        
            
                
<li class="active">
    <a href="./">Introduction</a>
</li>

            
        
            
        
    </ul>
  </li>

                        
                        <!-- ORIG
                        <li class="active">
                            <a href="">Fragments</a>
                        </li>
                        -->
                    
                        
                            
<li >
    <a href="../templates/">Builtin Templates</a>
</li>

                        
                        <!-- ORIG
                        <li >
                            <a href="../templates/">Builtin Templates</a>
                        </li>
                        -->
                    
                        
                            
    <li class="dropdown-submenu">
    <a>Examples</a>
    <ul class="dropdown-menu">
        
            
                
<li >
    <a href="../examples/">Introduction</a>
</li>

            
        
            
                
<li >
    <a href="../examples/SnomIPPhoneText/">SnomIPPhoneText</a>
</li>

            
        
            
                
<li >
    <a href="../examples/SnomIPPhoneMenu/">SnomIPPhoneMenu</a>
</li>

            
        
            
                
<li >
    <a href="../examples/InputField/">InputField</a>
</li>

            
        
            
                
<li >
    <a href="../examples/SnomIPPhoneDirectory/">SnomIPPhoneDirectory</a>
</li>

            
        
            
                
<li >
    <a href="../examples/SnomIPPhoneInput/">SnomIPPhoneInput</a>
</li>

            
        
            
                
<li >
    <a href="../examples/SnomIPPhoneImage/">SnomIPPhoneImage</a>
</li>

            
        
            
                
<li >
    <a href="../examples/SnomIPPhoneImageFile/">SnomIPPhoneImageFile</a>
</li>

            
        
            
                
<li >
    <a href="../examples/SnomIPPhoneBatch/">SnomIPPhoneBatch</a>
</li>

            
        
            
                
<li >
    <a href="../examples/main_subelements/">Main sub elements</a>
</li>

            
        
            
                
<li >
    <a href="../examples/main_elements_attributes/">Main elements attributes</a>
</li>

            
        
    </ul>
  </li>

                        
                        <!-- ORIG
                        <li >
                            <a href="">Examples</a>
                        </li>
                        -->
                    
                    </ul>
                </li>
            
            
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a rel="next" href="../examples/cb_boolean_callbacks/">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li >
                    <a rel="prev" href="../examples/fr_setcache/">
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://github.com/Snomio/Documentation">
                        
                            <i class="fa fa-github"></i>
                        
                        GitHub
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>
                <div class="container">
            <ol class="breadcrumb">
                
                    
                        
                            
                                <li>XML Minibrowser &raquo;</li>
                            
                        
                    
                        
                            
                                <li>Fragments &raquo;</li>
                            
                        
                    

                    <li>Introduction</li>
                
            </ol>
        </div>

        <div class="container">
            
                <div class="col-md-3">
                    <div class="bs-sidebar hidden-print affix well" role="complementary">
                            
                        <ul class="nav bs-sidenav">
                                <li><a>Introduction</a></li>
        
            <li class="level1 active"><a href="#snom_minibrowser_fragments">Snom Minibrowser Fragments</a></li>
            
                <li class="level2"><a href="#list_of_available_fragments">List of available fragments</a></li>
            
        
                        </ul>
                    </div>
                </div>
            

            
                <div class="col-md-9" role="main">

<h1 id="snom_minibrowser_fragments">Snom Minibrowser Fragments<a class="headerlink" href="#snom_minibrowser_fragments" title="Permanent link"> #</a></h1>
<p>The minibrowser can be controlled with URI fragment commands that are appended to any URL.</p>
<div class="admonition warning">
<p class="admonition-title">Warning</p>
<p>The following fragments can only be used by trusted host    </p>
<ul>
<li>setcache</li>
<li>clearcache</li>
<li>flush</li>
<li>next_edit_mode</li>
<li>reloadset</li>
<li>set</li>
<li>toggleset</li>
<li>action_ifc</li>
<li>var_ifc</li>
</ul>
<p>Trusted hosts are managed by the setting <a href="http://wiki.snom.com/Settings/mb_trusted_hosts">mb_trusted_host</a>. <strong>It is required to set this option for some fragments. This setting is only require IP Address or hostname without schema and port</strong>.</p>
</div>
<h2 id="list_of_available_fragments">List of available fragments<a class="headerlink" href="#list_of_available_fragments" title="Permanent link"> #</a></h2>
<table>
<thead>
<tr>
<th>Fragment Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="../examples/fr_setcache/">setcache</a></td>
<td>Cache a setting value</td>
</tr>
<tr>
<td><a href="../examples/fr_clearcache/">clearcache</a></td>
<td>Clear setting value cache</td>
</tr>
<tr>
<td><a href="../examples/fr_clearvar/">clearvar</a></td>
<td>Clear all variables</td>
</tr>
<tr>
<td><a href="../examples/fr_menu/">menu</a></td>
<td>Get the menu link</td>
</tr>
<tr>
<td><a href="../examples/fr_next_edit_mode/">next_edit_mode</a></td>
<td>Switch to the next edit mode of the system</td>
</tr>
<tr>
<td><a href="../examples/fr_sel/">sel</a></td>
<td>Preselect an entry of a list</td>
</tr>
<tr>
<td><a href="../examples/fr_reloadset/">reloadset</a></td>
<td>Reload the settings</td>
</tr>
<tr>
<td><a href="../examples/fr_set/">set</a></td>
<td>Set a setting</td>
</tr>
<tr>
<td><a href="../examples/fr_sub/">sub</a></td>
<td>A fragment to jump between main element within <em>SnomIPPhoneBatch</em></td>
</tr>
<tr>
<td><a href="../examples/fr_toggleset/">toggleset</a></td>
<td>Toggle a boolean setting</td>
</tr>
<tr>
<td><a href="../examples/fr_var/">var</a></td>
<td>Sets a variable</td>
</tr>
<tr>
<td><a href="../examples/fr_action_ifc/">action_ifc</a></td>
<td>Perform an action via a module</td>
</tr>
<tr>
<td><a href="../examples/fr_applyline/">applyline</a></td>
<td>Reregister a identity</td>
</tr>
<tr>
<td><a href="../examples/fr_key/">key</a></td>
<td>Fires the given key</td>
</tr>
<tr>
<td><a href="../examples/fr_numberdial/">numberdial</a></td>
<td>Dials a number</td>
</tr>
<tr>
<td><a href="../examples/fr_reboot/">reboot</a></td>
<td>Reboot or reset the phone</td>
</tr>
<tr>
<td><a href="../examples/fr_reregister/">reregister</a></td>
<td>Reregister an identity</td>
</tr>
<tr>
<td><a href="../examples/fr_unregister/">unregister</a></td>
<td>Unregister a phone identity</td>
</tr>
<tr>
<td><a href="../examples/fr_var_ifc/">var_ifc</a></td>
<td>Set a module variable</td>
</tr>
<tr>
<td><a href="../examples/fr_mjpg/">mjpg</a></td>
<td>Start a Motion Jpeg video</td>
</tr>
</tbody>
</table></div>
            
        </div>

    <footer class="col-md-12">
        <hr>
        
        <center>Copyright © 2016 Snom Technology AG. All rights reserved.</center>
        
    </footer>


        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script src="../../js/base.js"></script>
    </body>
</html>